<!DOCTYPE html>
<html>
<head>
     <title>Photo search web application</title>
</head>
<!-- Load all the dependency scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/ngInfiniteScroll/1.3.0/ng-infinite-scroll.js"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
<!-- load the app module and assign controller -->
 
<body ng-app="myApp" ng-controller="searchPhotoController">
<div class="search-pic">
    <h1>Search Photos</h1>
    <input class="textbox" type="text" ng-model="keyword" ng-change="searchPhotos()" placeholder="Enter name...">
    <div id="list-wrapper">
    <div class="" infinite-scroll='loadMore()'  infinite-scroll-container="'#list-wrapper'">
        <div ng-repeat="photos in filterPhotos track by $index">
            <img ng-show="showImage" src="assets/images/ajax-loader.gif" style="width:304px;height:228px;">
            <img  ng-click="open($index)" class="show-pic" ng-src="http://farm{{photos.farm}}.staticflickr.com/{{photos.server}}/{{photos.id}}_{{photos.secret}}.jpg" alt="Mountain View" style="width:304px;height:228px;">
            
        </div>
    </div> 
    </div>  
</div>
<div ng-view></div>

<!-- load the scripts for modules, controller, route .. -->
<script type="text/javascript" src="app.module.js"></script>
<script type="text/javascript" src="components/search/searchController.js"/>
<script type="text/javascript" src="app.route.js"></script>
<script type="text/javascript" src="config.js"></script>
<link href="assets/css/stylesheet.css" type="text/css" rel="stylesheet" />
</body>
</html>
