body{
  background-color: #f1ecec;
}
.search-pic {
  margin-left: 33%;position: fixed;
}
.textbox {
    width: 422px;
    padding: 15px 25px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #9D9E9E;
    text-shadow: 1px 1px 0 #FFF;
    background: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
    height: 31px;
}
.textbox:focus {
    background: #fff;
    color: #414848;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    outline: 0;
}
.textbox:hover {
    background: #fff;
    color: #414848;
}
h1{    margin-left: 25%;
}
img.show-pic{
  margin-top: 2%;
  margin-left: 0%;
  border: 2px solid #CCB;
}
.cover-image {
  width: 464px;
  background-color: #ccc;
}
.main{
  overflow: scroll;
  width: 469px;
  height: 440px;
  background-color: #ededf3;
}
/* modal open */
#list-wrapper{
  max-height: 486px;
  overflow-y: scroll;
  border: solid 1px #CCB
}
.text-align-center {
  text-align: center;
}