<!--<div class="search-pic">
    <h1>Search Results</h1>
    <input class="textbox" type="text" ng-model="keyword" ng-change="searchPhotos()" placeholder="Enter name...">
    <div id="list-wrapper">
    <div class="" infinite-scroll='loadMore()'  infinite-scroll-container="'#list-wrapper'">
        <div ng-repeat="photos in filterPhotos track by $index">
            <img  data-ng-if="showImage" src="assets/images/ajax-loader.gif" style="width:304px;height:228px;">
            <img ng-click="open($index)" class="show-pic" data-ng-hide="showImage" src="http://farm{{photos.farm}}.staticflickr.com/{{photos.server}}/{{photos.id}}_{{photos.secret}}.jpg" alt="Mountain View" style="width:304px;height:228px;">
        </div>
    </div> 
    </div>  
</div>
-->